@{
    ViewData["Title"] = "UsuarioEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UsuarioEmpleado</h1>

<form asp-action="InicioConsultaPlaSemanal" asp-controller="ConsultaPlaSemanal" method="post">
    <input type="hidden" name="idUsuario" value="@ViewBag.IdUsuario" />
    <input type="hidden" name="idEmpleado" value="@ViewBag.IdEmpleado" />
    <button type="submit" class="btn btn-primary">Consultar planilla semanal</button>
</form>


<form asp-action="InicioConsultaPlaMensual" asp-controller="ConsultaPlaMensual" method="post">
    <input type="hidden" name="idUsuario" value="@ViewBag.IdUsuario" />
    <input type="hidden" name="idEmpleado" value="@ViewBag.IdEmpleado" />
    <button type="submit" class="btn btn-primary">Consultar planilla mensual</button>
</form>